{{#extends "script-block"}}
    <script src="/socket.io/socket.io.js" type="application/javascript"></script>
    <script src="/public/js/game.js" type="application/javascript"></script>
{{/extends}}

<div id="game" data-server ="{{ server.protocol }}://{{ server.host }}:{{ server.port }}">

</div>