{{#extends "style-block"}}
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Source+Sans+Pro:400,600" />
    <link rel="stylesheet" href="/public/css/game.css" type="text/css">
{{/extends}}

<div class="main_section equal" id="game" data-server ="{{ server.protocol }}://{{ server.host }}:{{ server.port }}">
    <div class="row-fluid">

        <div class="col-sm-3 col-xs-12">
            {{> block_lobby}}

        </div>

        <div class="col-md-9 col-sm-9 col-xs-12">
            {{> block_party }}
        </div>
        <div class="clearfix"></div>
    </div>

</div>

{{#extends "script-block"}}
    <script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
    <script src="/public/js/enableSearchBar.js" type="application/javascript"></script>
    <script src="/public/js/enableDemo.js" type="application/javascript"></script>
    <script src="/socket.io/socket.io.js" type="application/javascript"></script>
    <script src="/public/js/socketStatusEvents.js" type="application/javascript"></script>
    <script src="/public/js/socketGameEvents.js" type="application/javascript"></script>
    <script src="/public/js/socketLobbyEvents.js" type="application/javascript"></script>
    <script src="/public/js/game.js" type="application/javascript"></script>
{{/extends}}