{{#extends "script-block"}}
    <script src="/socket.io/socket.io.js" type="application/javascript"></script>
    <script src="/public/js/game.js" type="application/javascript"></script>
{{/extends}}

<p>Je jeu se passe ici</p>