.floating_alert {
    position: fixed;
    top: 5%;
    left: 30%;
    z-index: 5000;
    width: 40%;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    padding: 2%;
}

/* ==========================================================================
   GENERAL
   ========================================================================== */

*,*:before,*:after{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
    margin-top : 1%;
}