
<div class="header">
    <div class="container">
        <h2>Leaderboard</h2>
        <form class="form-inline">
            <div class="btn-group" data-toggle="buttons-radio">
                <button class="sort_by_score btn btn-small {{#xif 'sort_by_is' '==' 'score'}}active{{/xif}}" type="button">Par score</button>
                <button class="sort_by_name btn btn-small {{#xif 'sort_by_is' '==' 'name'}}active{{/xif}}" type="button">Par pseudo</button>
            </div>
            <button class="randomize btn btn-warning btn-small" type="button"><i class="icon-random icon-white"></i> Randomize</button>
            <button class="reset btn btn-danger btn-small" type="button"><i class="icon-refresh icon-white"></i> Reset</button>
        </form>
    </div>
</div>
<div class="container">
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>Name</th>
            <th style="width: 60px">Score</th>
            <th style="width: 20px"></th>
            <th style="width: 20px"></th>
            <th style="width: 20px"></th>
        </tr>
        </thead>
        <tbody>
        {{#if players}}
            {{#each players}}
                <tr class="player {{#if selected}}info{{/if}}">
                    <td class="name">{{name}}</td>
                    <td class="score"><span class="badge {{#if is_max}}badge-success{{/if}}
                        {{#if is_min}}badge-warning{{/if}}">{{score}}</span>
                    </td>
                    <td><i class="increment icon-thumbs-up" rel="tooltip" data-original-title="Add five points to the score"></i>
                    </td>
                    <td>
                        <i class="decrement icon-thumbs-down" rel="tooltip" data-original-title="Subtract five points to the score"></i>
                    </td>
                </tr>
            {{/each}}
        {{/if}}
        </tbody>
    </table>
</div>
