{{#extends "head-block"}}
    <link rel="stylesheet" href="public/css/main.css"/>
{{/extends}}

<div class="jumbotron center">
    <h1>Oops, le serveur a un petit problème: <small><span class="text-danger">Erreur 500</span></small></h1>
    <br>
    <p> Un devs à du péter quelque chose, mais on est sur le coup !</p>
</div>