<div id="mask_response" class="mask hidden">
    <div class="block_btn col-xs-12 text-center">
        <p>"<span id="response_name"></span>"</p>
        <p><span id="response_message"></span></p>
        <div class="row">&nbsp;</div>
        <div>
            <button type="button" id="close_response" class="btn btn-danger close-mask">Fermer</button>
        </div>
    </div>
</div>