<div class="invisible" id="game_start_block">

        <div id="game">
            <h3>Combinaison</h3>
            <div id="game_combinaison">
                <p class="btn btn-primary">&nbsp;</p>
                <p class="btn btn-info">&nbsp;</p>
                <p class="btn btn-danger">&nbsp;</p>
                <p class="btn btn-warning">&nbsp;</p>
                <p class="btn btn-success">&nbsp;</p>
            </div>
            <hr>
            <h3>Vos couleurs</h3>
            <div id="game_user_choice">
                <p class="btn btn-primary">&nbsp;</p>
                <p class="btn btn-info">&nbsp;</p>
                <p class="btn btn-danger">&nbsp;</p>
                <p class="btn btn-warning">&nbsp;</p>
                <p class="btn btn-success">&nbsp;</p>
            </div>
        </div>
    </div>