<div id="mask_challenge" class="mask hidden">
    <div class="block_btn col-xs-12 text-center">
        <p><span id="challenger_name"></span></p>
        <p>Vous a envoyé un défi</p>
        <div >
            <button type="button" id="accept_challenge" class="btn btn-success">Accepter</button>
        </div>
        <div class="row">&nbsp;</div>
        <div>
            <button type="button" id="deny_challenge" class="btn btn-danger">Refuser</button>
        </div>
    </div>
</div>