<div class="invisible" id="game_start_block">
        <div id="player_statuses">
            <div class="col-xs-12 text-left">
                <span id="p1_username"></span> :
                <button class="btn btn-success" data-toggle="button" id="ready_btn">Prêt(e)</button>
                <button class="btn btn-danger" id="ready_btn">Pas prêt(e)</button>
            </div>
            <div class="clearfix"></div>
            <div class="row">&nbsp;</div>
            <div class="col-xs-12 text-left">
                <span id="p2_username"></span> :
                <button id="p2_status" class="btn btn-info disabled">Pas prêt(e)</button>
            </div>
        </div>

        <div class="clearfix"></div>

        <hr>
        <div id="game">
            <h3>Combinaison</h3>
            <div id="game_combinaison">
                <p class="btn btn-primary">&nbsp;</p>
                <p class="btn btn-info">&nbsp;</p>
                <p class="btn btn-danger">&nbsp;</p>
                <p class="btn btn-warning">&nbsp;</p>
                <p class="btn btn-success">&nbsp;</p>
            </div>
            <hr>
            <h3>Vos couleurs</h3>
            <div id="game_user_choice">
                <p class="btn btn-primary">&nbsp;</p>
                <p class="btn btn-info">&nbsp;</p>
                <p class="btn btn-danger">&nbsp;</p>
                <p class="btn btn-warning">&nbsp;</p>
                <p class="btn btn-success">&nbsp;</p>
            </div>
        </div>
    </div>