<div id="block_vs" class="row">

    <div class="col-xs-5">
        <img src="https://www.gravatar.com/avatar/{{ data.p1.id }}?s=32&amp;d=identicon&amp;r=PG" alt="p1 avatar" class="img-circle">
        <span id="p1_name">&nbsp;{{ data.p1.username }}</span>
    </div>

    <div class="col-xs-2"> VS </div>

    <div class="col-xs-5">
        <img src="https://www.gravatar.com/avatar/{{ data.p2.id }}?s=32&amp;d=identicon&amp;r=PG" alt="user avatar" class="img-circle">
        <span id="p2_name">&nbsp;{{ data.p2.username }}</span>
    </div>

</div>