<div id="game_start_block">
    {{! appendChild block_vs}}
    <div>
        <h3>Combinaison</h3>
        <div id="game_combinaison">
           {{! appendChild block_combinaison}}
        </div>
        <hr>
        <h3>Vos couleurs</h3>
        <div id="game_user_choice">
            <p id="user_color_1" data-color="primary"  class="btn btn-primary">?</p>
            <p id="user_color_2" data-color="info"  class="btn btn-info">?</p>
            <p id="user_color_3" data-color="danger"  class="btn btn-danger">?</p>
            <p id="user_color_4" data-color="warning"  class="btn btn-warning">?</p>
            <p id="user_color_5" data-color="success"  class="btn btn-success">?</p>
        </div>
    </div>
</div>