
<div class="row users_side_list">
    <div id="custom-search-input">
        <div class="input-group col-md-12">
            <input type="text" class=" search-query form-control" id="search_input" placeholder="Chercher un utilisateur..." />
            <button class="btn btn-danger" type="button" id="search_submit">
                <span class=" glyphicon glyphicon-search"></span>
            </button>
        </div>
    </div>
    <div class="dropdown lobby">
        <button class="dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-weixin" aria-hidden="true"></i>
            Changer mon statut
            <span class="caret pull-right"></span>
        </button>
        <ul class="dropdown-menu" id="status_menu" aria-labelledby="dropdownMenu">
            <li data-status="Disponible"><a href="#" class="bg-success" >Disponible</a> </li>
            <li data-status="En partie"><a href="#" class="bg-info" >En partie</a></li>
            <li data-status="Occupé(e)"><a href="#" class="bg-warning" >Occupé(e)</a></li>
        </ul>
    </div>
    <div class="">
        <ul class="list-unstyled" id="users_list">
            {{#if user}}
                {{#with user}}
                    <div class="bg-primary">
                        {{> block_user }}
                    </div>
                {{/with}}
            {{/if}}
            {{#each onlineUsers }}
                {{> block_user }}
            {{/each}}

        </ul>
    </div>
</div>
