<div class="row text-center" id="game_block">
    <div class="row">&nbsp;</div>
    <div class="col-xs-12 text-left">
        Joueur 1 :
        <button class="btn btn-success" id="ready_btn">Prêt(e)</button>
        <button class="btn btn-danger" id="ready_btn">Pas prêt(e)</button>
    </div>
    <div class="clearfix"></div>
    <div class="row">&nbsp;</div>
    <div class="col-xs-12 text-left">
        Joueur 2 :
        <button class="btn btn-success disabled" id="ready_btn">Prêt(e)</button>
    </div>
    <div class="clearfix"></div>
    <hr>
    <div>
        <h3>Combinaison</h3>
        <div id="game_combinaison">
            <p class="btn btn-primary">&nbsp;</p>
            <p class="btn btn-info">&nbsp;</p>
            <p class="btn btn-danger">&nbsp;</p>
            <p class="btn btn-warning">&nbsp;</p>
            <p class="btn btn-success">&nbsp;</p>
        </div>
    </div>
    <hr>
    <div>
        <h3>Vos couleurs</h3>
        <div id="game_user_choice">
            <p class="btn btn-primary">&nbsp;</p>
            <p class="btn btn-info">&nbsp;</p>
            <p class="btn btn-danger">&nbsp;</p>
            <p class="btn btn-warning">&nbsp;</p>
            <p class="btn btn-success">&nbsp;</p>
        </div>
    </div>
    <div>&nbsp;</div>
    <div>&nbsp;</div>
    <div>&nbsp;</div>
    <hr>
    <div id="game_rules" class="col-xs-12 text-left">
        <h3>Règles du jeu</h3>
        <ul>
            <li>Le jeu commence quand les 2 joueurs sont prêts</li>
            <li>L'objectif : rentrer le premier la combinaison affichée</li>
            <li>Il faut cliquer les couleurs dans l'ordre correspondant à la combinaison</li>
            <li>Le gagnant est celui qui saisit le premier la combinaison</li>
        </ul>
    </div>


</div>
{{#extends "style-block"}}

{{/extends}}