<div id="mask_response" class="mask hidden">
    <div class="block_btn col-xs-12 text-center">
        <p><span id="challenger_name"></span></p>
        <p>à accepté votre défi</p>
        <div>
            <button type="button" id="deny_challenge" class="btn btn-danger">Ok</button>
        </div>
    </div>
</div>