<div id="mask_commands" class="mask hidden">
    <div class="block_btn col-xs-12 text-center">
        <div >
            <button type="button" id="view_stats" class="btn btn-info">Voir stats</button>
            {{! Onclick display modal appendTo body }}
        </div>
        <div class="row">&nbsp;</div>
        <div>
            <button type="button" id="chalenge_user" class="btn btn-primary">Défier</button>
        </div>
        <div class="row">&nbsp;</div>
        <div>
            <button type="button" id="cancel_mask" class="btn btn-danger close-mask">Annuler</button>
        </div>
    </div>
</div>