<div class="row text-center" id="game_block">
    <div class="row">&nbsp;</div>
    {{> block_game }}

    <div>&nbsp;</div>

    <hr>
    <div id="game_rules" class="col-xs-12 text-left">
        <h3>Règles du jeu</h3>
        <ul>
            <li>L'objectif : rentrer le premier la combinaison dans l'ordre affichée</li>
            <li>Il faut cliquer les couleurs dans l'ordre correspondant à la combinaison</li>
            <li>Le gagnant est celui qui saisit le premier la combinaison</li>
            <li>La combinaison s'affichera pendant 5 secondes</li>
        </ul>
    </div>


</div>
{{#extends "style-block"}}

{{/extends}}