


footer
    .row
        .col-lg-12
            p Copyright © Your Website 2014
        // /.col-lg-12
    // /.row

block scripts
    script(src="//code.jquery.com/jquery-1.12.4.min.js", integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=", crossorigin="anonymous")
    script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
    script(src="/src/script/main.js")
