.col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2
    // Div Panel
    .panel.panel-success
        // Panel Heading
        .panel-heading
            .panel-title Sign In
        // End panel heading
        // Panel body
        .panel-body
            form.form-horizontal(role='form' method="post" action="login")
                // Username
                .input-group.input-username
                    span.input-group-addon
                        i.glyphicon.glyphicon-user
                    input.form-control(type='text', name='username', placeholder='username', autofocus='')
                // Password
                p &nbsp;
                .input-group.input-password
                    span.input-group-addon
                        i.glyphicon.glyphicon-lock
                    input.form-control(type='password', name='password', placeholder='password')
                .input-group.checkbox-remember
                    .checkbox
                        label
                            input#login-remember(type='checkbox', name='remember', value='1')
                            |  Remember me
                .form-group.login-button
                    .col-sm-12.controls
                        button.btn.btn-success(type="submit") Login
            // ENd form
        // ENd panel body
    // End panel group
// End col div
