for message in flash
    .floating_alert(class='alert alert-' + message.type + ' fade in', onclick="$(this).fadeOut()" style='cursor:pointer;')
        span=message.message

// Reset flash, ugly way to do it
- flash.length = 0
