<!DOCTYPE html>
<html>
<head>
    {{#> head-block}}
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width">
        <title> {{ website }} :: {{ title }} </title>
        <link rel="shortcut icon" href="/public/icon/favicon.ico" type="image/x-icon">
        {{> front/_css}}
    {{/head-block}}
</head>
<body>

    <div class="container">
        {{> front/_nav}}
        {{{body}}}
        <p>{{ locals }}</p>
        <hr>
        {{> front/_footer }}
    </div>

    {{#> script-block}}
        {{> front/_script }}
        <script type="application/javascript" src="/public/js/main.js"></script>
    {{/script-block}}
</body>

</html>